kbd {
    border: 1px solid red;
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

kbd:hover>button {
    display: inline-block;
}

button {
    position: absolute;
    display: none;
    right: 0;
    bottom: 0;
}

#main {
    padding: 8px;
    margin: 0 auto;
}

#main div:nth-child(2) {
    margin-left: 55px;
}

#main div:nth-child(3) {
    margin-left: 70px;
}

#main div:nth-child(4) {
    margin-left: 102px;
}

.wrapper {
    background: rgba(0, 0, 0, .05);
    border-radius: 10px;
}

.key {
    width: 54px;
    height: 42px;
    border: 1px solid #373737;
    border-radius: 5px;
    background: linear-gradient(to bottom, #292929 0%, #111111 100%);
    color: #fff;
    font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
    box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 2px #1F2020, 0 3px 0 2px #080808;
    position: relative;
}

.row {
    margin: 24px;
}

.row .key {
    margin: 0 12px;
}

.key img {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 4px;
    bottom: 2px;
}

.key .text {
    position: absolute;
    left: 4px;
    top: 2px;
}