* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

body {
    background: #aba0a6 url(../wall.jpg) no-repeat center center;
    background-size: cover;
}